*{
    /*border: 1px dotted black;*/
    font-family: "Quicksand";
}

::selection {
  background: #aef1f9; /* WebKit/Blink Browsers #BFC9CA; */
}

body{
  background-color: #FBFCFC;
  color: #6b6568;
  margin:0px;

}

form{
  margin:0px;
}

.button{
  width:auto;
  height:20px;
  font-size: 13px;
  color: white;
  vertical-align: center;
  margin: 0px;
  border-radius: 4px;
  padding-left:10px;
  padding-right:10px;
  padding-top:4px;
  text-align: center;
  font-weight: bold;
}

.button:hover{
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);

}

#newAlbum, #newArtist{
  background-color: #C12267;
  height:30px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 13px;
}

#theForm{
  margin-left:25px;
  margin-top:20px;
}

#search{
  width: 250px;
  height: 25px;
}

table{
  color: grey;
  padding: 10px;
  margin-top: 20px;
  margin-left:0px;
  margin-right:900px;
  width:auto;
  border: 1px solid lightgrey;
  background-color: white;
}

thead{
  color: #6EB6D7;
}

th, td {
  text-align: left;
  padding-right: 15px;
}
/* Dont know why this doesnt work
tr{
  border-bottom: grey;
  padding-bottom: 5px;
}
*/
.boxClass {
  border: 1px solid lightgrey;
  background-color: white;
  margin-left: 25px;
  margin-top: 25px;
  width: 350px;
  height: 110px;

}

.boxClass li {
  list-style: none;
  padding-left: 10px;
  font-size: 14px;

}

h2{
  padding-left: 10px;
  font-size: 17px;
  margin-top: 5px;
  color: #6EB6D7;

}

nav li{
  color: #f4f4f4;
  transition-duration: 0.4s;
  padding-left: 0px;
  list-style: none;
  float: left;
  padding:20px;
  margin:0px;
  height: 18px;;
  /*display: block;*/
  letter-spacing: 2px;

}
nav li:hover{
  font-weight: bold;
  background-color: darkgrey;/*#F4F6F7*/
  cursor: pointer;
  color: #00ffd8;
  border-top: 3px solid grey;
  height:15px;

}

a{
  text-decoration: none;
  color:  #0099cc;
  border-bottom: 1px dotted;
}

a:hover{
  color: lightblue;
  border: none;
}

p{
  line-height: 0.5em;
}

header{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-family: 'Arvo', serif;
  color: grey;#6EB6D7;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 6px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 10px;
  text-transform: uppercase;
}

header:hover{
  color: #99A3A4;
}

nav{
  margin:0px;
  width:100%;
  height:58px;
  background-color: darkgrey;#CCD1D1;/**/


}

footer{
  border-top: 2px dotted #CCD1D1;
  padding-top: 15px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 50px;
  padding-top: 8px;
  width: 100%

}
