*{
  font-family: Quicksand;
  color: darkgrey;
}

.updater{
  padding: 0px;
  margin: 0px;
}

.addButton{
  padding: 10px;
  width: 100px;
  height: 30px;
  margin:0px;
}

th{
  text-align: left;
}

th, td{
  padding:5px;
}

h2, form{
  margin: 10px;
}

.search{
  padding: 5px;
  width:200px;
  margin:0px;
}

h2{
  padding: 0px;
  margin: 0px;
}

.box, table{
  padding: 10px;
}

b{
  color:black;
}

#title{
  padding-left: 10px;
  letter-spacing: 3px;
  color: darkgrey;
}
nav li{
  list-style:none;
  border: 1px solid grey;
  display: inline-block;
  padding: 10px;
  background-color: grey;
  color:white;
  letter-spacing: 1px;
  transition-duration: 0.4s;
}
nav li:hover {
  font-weight: bold;
  cursor: pointer;
  color: #00ffd8;
  /*background-color: rgba(255,255,255,0.3);*/
}

nav{
  border: 1px solid grey;
  background-color: grey;

}

body{
  margin: 0px;
}
